  
# See http://help.github.com/ignore-files/ for more about ignoring files.
# packages
node_modules

packages/*/dist
packages/*/bin

# temp dirs
_tmp
dist
dest
tmp
out-tsc

# credentials
.env

# IDEs and editors
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
.rpt2_cache
.sass-cache
connect.lock
coverage

# debug logs
lerna-debug.log
npm-debug.log
yarn-error.log
testem.log
libpeerconnection.log


# System Files
.DS_Store
Thumbs.db
